.embed-container {
    display: flex;
    justify-content: center-left;
    align-items: center-left;
    height: 100vh; /* Optional: center vertically within the viewport */
  }

  body {
    color: black;
}